<div class="container">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <h1>About Us</h1>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <ul class="nav-items">
        <%= link_to content_tag(:li, "Home", class: 'nav-item'), root_path, class: 'nav-item-link' %>
        <%= link_to content_tag(:li, "Contact", class: 'nav-item'), contact_path, class: "nav-item-link" %>
      </ul>
    </div>
    <div class="nine columns">
      <p>A site I built to resume practicing Ruby on Rails.  It's code is online and anyone so inclinded is free to download it and run it for their own interestes.  In general, however, the code is under CC and not permitted to be used in production for any purposes without my explicit concent.</p>
      <p>This is a relativly featured book-reading site.  It contains some obvious visual errors which is likely due to me writting everything in a long weekend.</p>
  </div>
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
    </div>
  </div>
</div>
