<div class="container">
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <h1>Go adfree! Coming soon.</h1>
    </div>
  </div>
  <div class="row">
    <div class="three columns">&nbsp;</div>
    <div class="nine columns">
      <p>Unfortunately this feature is not availible, however I'm planning on adding a low-cost subscription feature where you'll be able to view these pages without ads as well as download ebooks as an .epub to read off of the website!  It will occur after I add ads, as at the time of writing this they are still not implemented.</p>
      <p>If you have any comments to add, don't be afraid to let us know!  And you can read more about our future plans <%= link_to "in our about page", about_path %></p>
      <%= link_to "Return to the homepage", root_path %>
    </div>
  </div>
</div>
