<h1>Hello <%= @user.name %>!</h1>
<p>Find me in app/views/users/adfree.html.erb</p>
<p>Here we'll try to convince people to buy a subscription with Stripe, coming soon as I'm sure everyone is very excited...</p>

<%= link_to "Home", root_path %>
